
<material-appbar>


</material-appbar>

<material-content>
    <div class="result">{{cer.success}}</div>
    <div class="cert">{{cer.certificate}}</div>

    <material-gridlist class="overview">
        <!-- <material-gridlist-headers>
            <material-cell class="name">Naam</material-cell>
            <material-cell class="type">Type</material-cell>
            <material-cell class="loodnumber">Loodsnummer</material-cell>
            <material-cell class="material-menu-cell"></material-cell>
        </material-gridlist-headers>

        <material-gridlist-content>
            <div class="progress-center" ng-hide="isLoaded">
                <material-progress-circular material-mode="indeterminate"></material-progress-circular>
            </div>
            <material-row ng-repeat="user in users.data" ng-click="edit(user)">
                <material-cell class="name">{{user.usr_fullname}}</material-cell>
                <material-cell class="type">{{user.usr_role}}</material-cell>
                <material-cell class="loodnumber">{{user.usr_registernumber}}</material-cell>

                <material-cell class="material-menu-cell">
                    <material-menu-button menu-id="message-menu-{{user.usr_id}}" button-icon="dots-vertical" title="Opties">
                        <material-item ng-click="edit(user)">Wijzigen</material-item>
                        <material-item ng-click="remove(user, $index)" ng-if="user.usr_role != 'LOODS'">Verwijderen</material-item>
                    </material-menu-button>
                </material-cell>
            </material-row>
        </material-gridlist-content>
        <material-gridlist-pagination on-page-change="setPage($page)" current-page="paginationConfig.currentPage" pagination-config="paginationConfig"></material-gridlist-pagination> -->
        <material-button material-icon="plus" ng-click="add()" class="material-fab material-success lms-add-right-corner" title="nieuwe IPL"></material-button>
    </material-gridlist>
</material-content>